.menu-section{
display: flex;
flex-direction: row;
justify-content: space-around;
}


.active{
    color:white;
    background-color: blue;
}

td, th {
    border: 1px solid #777;
    padding: 0.5rem;
    text-align: center;
}
 
table {
    align-content: center;
    border-collapse: collapse;
    margin: auto;
}
 
tbody tr:nth-child(odd) {
    background: #eee;
}

#employees-table-place{
    margin-top: 5vh;
}

#statistics-place{
    flex: row;
    flex-direction: row;
    margin-top: 5vh;
} 

#spinner {
    position: absolute;
    left: 48vw;
    top: 40vh;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #63db34;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    opacity: 70%;

  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .radio-group{
    display: flex;
    flex-direction: row;
    margin-top: 2vh
  }

  .row-input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  p{
    margin-block-end: 0;
  }

  .submit-but{
    margin-top: 5vh;
  }

  .input-field-birth{
    width: 11vw;
  }