@font-face{
    font-family: "airstream";
    src: url(../fonts/Airstream-webfont.svg);
    src: url("../fonts/Airstream-webfont.woff");
}
@font-face{
    font-family: "lakeshort";
    src: url(../fonts/LAKESHOR-webfont.svg);
    src: url("../fonts/LAKESHOR-webfont.woff");
}




body{
    display: flex;
    flex-direction: column;
    background-color: rgb(41, 41, 41);
    margin: 0;
}

header{
    text-align: center;
    background-color: aqua;
    font-family: airstream;
    
}

.logo{
    font-size: 1.6em;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

main{
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-wrap: wrap;
}

.details-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6vh;
    transition: 2s;
}

.point .details-section {
    transform: scale(0.0001);
    transition: 0;
}

.details-image{
    height: 35vw;
    width: 40vw;
    border-radius: 15%;
}

.details-title{
    position: absolute;
    font-style: italic;
    font-size: 1em;
    left: 15vw;
    bottom: 1vh;
    font-family: airstream;
    overflow-y: auto;
}

.details-container{
    position: relative;
}

.thumbnails-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    max-height: 60vh;
    overflow-y: auto;
    justify-content: space-around;
    padding: 0;
    margin-top: 5vh;
}

.thumbnails-item{
    border: solid 1px rgb(116, 203, 224);
    border-radius: 20%;
    max-width: 12vw;
    min-width: 12vw;
    margin-top: 3vh;
    overflow: hidden;
    /* background-color: aqua; */
}

.thumbnails-item:hover{

    border-color: greenyellow;
    transform: scale(1.2);
}

.thumbnails-image{
    display: block;
    width: 13vw;
    height: 10vw;
}

.thumbnails-title {
    display: block;
    text-align: center;
    background-color: aqua;
    font-family: lakeshort;
}

.hidden{
    
}

.hide-button{
    font-size: 1.5em;
    color: black;
    position: absolute;
    bottom: -10vh;
    right: 10vw;
    background: transparent;
}

.point{
    transform: scale(0.0001);
    transition: 0;
}


@media(min-width: 650px){

    header{
        font-size: 1.5em;
    }

    main{
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        align-self: start;  
    }

    .details-image{
        display: block;
        height: 35vw;
        width: 35vw;
    }

    .thumbnails-list{
        max-height: 80vh;
        margin-top: 2vh;
        margin-left: 5vw;
        max-width: 20vw;
    }

    .details-section {
        flex-direction: row;
        justify-content: right;
        margin-top: -6vh;
        margin-left: 20vw;
    }

    .thumbnails-item{
        flex-direction: column;
        max-width: 8vw;
        min-width: 8vw;
        margin-top: 0vh;
        
    }

    .thumbnails-image{
        display: block;
        width: 8vw;
        height: 5vw;
    }

    .details-title{
        height: 8vh;
        left: 3vw;
        bottom: 2vh;
    }

    .hidden .thumbnails-list{
        max-width:max-content
    }

     .hidden .details-image{
        display: none;
    } 

    .hidden .hide-button{
     display: none;
    }

    .hidden .details-title{
        display: none;
    }

    .hidden .details-section{
        margin-left: 0;
    }

}
