.link-type {
    display: inline-block; 
    margin: 20px;
}



label {
    display: block;
    text-align: center; 
    cursor: pointer;
}

.frame {
    border-style: solid; 
    border-color: black; 
    border-width: 2px; 
    display: inline-block; 
    font-size: 25px;
}

a{
    background-color: rgb(148, 223, 241);
}

body{
    display: flex;
    row
}